$error-color: red;
$add_height: 180px;
$altura_msj_container: 350px;
.estrella {
    font-size: .65em;
}

.error {
    color: $error-color;
}

.img_anuncio {
    /*height: 100%;*/
    width: auto;
}

.msj_container {
    background-color: #e6e6e6;
    min-height: $altura_msj_container;
    border: .5px solid rgba(10, 10, 10, 0.25);
}

.msj {
    margin-top: 10px;
    border-radius: 25px;
}

@mixin direccion_msj($left:false, $right:false) {
    @if $left {
        border-bottom-left-radius: 0px;
        background-color: white;
    }
    @if $right {
        border-bottom-right-radius: 0px;
        background-color: #eaeaea;
    }
    color: #0a0a0a;
}

.msj_sent {
    @extend .msj;
    @include direccion_msj($left: false, $right: true);
}

.msj_received {
    @extend .msj;
    @include direccion_msj($left: true, $right: false);
}

.msj_time {
    font-size: .6em;
    float: right;
    padding-top: 20px;
}

#msj_texto {
    border-radius: 25px;
}

#msj_button {
    @extend #msj_texto;
    height: 40px;
}

.anuncio {
    .img_anuncio {
        max-height: $add_height;
        max-width: 100%;
        vertical-align: middle;
    }
    height: $add_height;
    width: 100%;
}

.cont {
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.align {
    margin: auto;
}

.mapouter {
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 400px;
    width: 600px;
    margin-top: 4em;
}

.fondosMonedero {
    padding: .5rem;
    background-color: #eaeaea;
    border: 1px solid rgba(10, 10, 10, 0.25);
    width: 150px;
    height: 45px;
    margin: .5rem;
    margin-left: 0rem;
}

[class~=input-group-field] {
    padding: 5px;
}

[class~=input-group-label] {
    @extend [class~=input-group-field];
    min-width: 55px;
}

.margin-ext {
    margin: .5rem;
}

@import "css";