$error-color: red;
.estrella {
    font-size: .65em;
}

.error {
    color: $error-color;
}

.img_anuncio {
    /*height: 100%;*/
    width: auto;
}

.anuncio {
    .img_anuncio {
        max-height: 180px;
        max-width: 100%;
        vertical-align: middle;
    }
    height: 180px;
    width: 100%;
}

.cont {
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.align {
    margin: auto;
}

@import "css";