.error {
    color: red;
}

.img_anuncio {
    height: 100%;
    width: auto;
}

.anuncio {
    .img_anuncio {
        max-height: 180px;
        max-width: 100%;
        min-height: 180px;
    }
}

.cont {
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

@import "css";